// .........Global...........
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    margin: 0;
    padding: 0;
}
// .........Global...........end

// .........SCSS.........

// .........SCSS.........End


// .........header......
header{

}
// .........header......End


// ........Main.......
main{

}
// ........Main.......End



// ........Footer .....
footer{

}
// ........Footer .....End